/* Register.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .register-container {
    background-color: #00000070;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .register-container h2 {
    text-align: center;
    color: #333;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .register-form label {
    margin-bottom: 8px;
    padding-left: 2;
  }
  
  .register-form input {
    padding: 10px;
    padding-left: 100px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .register-form button {
    background-color: #298db2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #50c4c6;
  }
  